#profile {
  padding: 5%;
  background-color: $secondary;
}

#profileThumbnail {
  max-width: 150px;
  margin-bottom: 1em;
}

#name {
  float: left;
}

.content {
  text-align: left;
}

.unique {
  color: $green;
}

.uniqueImg {
  border: solid 5px $green;
}
