<ion-view view-title="Profile">
  <ion-content>
    <div id="profile">
      <div align = center class="row responsive-sm">
        <div class="col">
          <img id="profileThumbnail" src="../assets/compass-1.png" alt="">
          <h4 id="name">Welcome {{user.username}}</h4>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="content">
            <h4 class="stats">Points: <span class="unique">{{user.points}}</span></h4>
            <h4 class="stats">Visited: <span class="unique">{{user.visited.length}}</span></h4>
            <h4 class="stats"><span>Favorites: </span><a  ng-repeat='place in user.favorites' href='{{place.name}}'> {{place.name}}<br></a> </h4>
            <h4>Locations visited: <span><a href="place.name" ng-repeat='place in user.visited' >{{place.name}}</a></span></h4>
          </div>
        </div>
      </div>





    </div>
  </ion-content>
</ion-view>
