/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$primary: #4F201A;
$secondary: #FBF8E7;
$tertiary: #EDD8A9;
$highlight: #F16156;
$cool: #CAE8DC;
$green: #4c653b;

#loginForm{
  background-color: $secondary;
  border: 2px solid grey;
  .list{
    background-color: $secondary;
    button{
      background-color: $highlight;
      box-shadow: 0px 5px 5px #888888;
      color: white;
    }
    button::active{
      background-color: $highlight;
    }
    a{
      color: $cool;
    }
    label{
      background-color: $secondary;
    }
  }
}

#loginForm::after{
  content: "";
  background: url(../assets/8096118-los-angeles-california-vintage-1920s-map-printed-in-1926--copyrights-expired-with-a-red-pushpin-sele.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#iconRow{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#californiaIcon{
  height: 50px;
  width: 50px;
}

#stateChange{
  display: inline-block;
  width: 100%;
  text-align: center;
  button{
    background-color: $cool;
    border: 0px;
    color: black;
    border-radius: 5px;
  }
}

#hamburgerMenu{
  color: $secondary;
}

.locations * {
  display: inline-block;
  p{
    margin-left: 15px;
  }
  img{
    margin-left: 1vw;
  }
}

.landmarkIcon{
  height: 30px;
  width: 30px;
}

#map{
  width: 100vw;
  height: 50vh;
}


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "src/lib/ionic/scss/ionic";
