#landing .backPanel {
  background-image: url("../assets/calimap.jpg");
  position: relative;
  background-size: cover;
  background-color: $tertiary;
  height: 100vh;
}

#landing .header {
  opacity: .65;
  position: absolute;
  width: 100%;
  background: black;
  top: 50%;
  transform: translate(0%, -50%);
}

#landing .title,
#landing .subtitle {
  color:  $secondary;
}
