<ion-view view-title="Near You">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="searchInput" type="search" placeholder="Search">
    </label>
    <ion-list>
      <ion-item class="item-california locations" ng-repeat="location in locations | filter:searchInput track by $index" href="">
        <img class="landmarkIcon" src="../assets/Bear_Filled-50.png" alt="">
        <span>
          {{location.name}}
        </span>
        <img class='leftArrow' src="../assets/left.png"/>
        <ion-option-button class="button-california" ng-click='showLandmark(location)'>View</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
